.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-size: 62.5%;
    font-family: 'Sora', sans-serif;
    background-color: $background;
}


a {
    border: 3px solid #232323;
    border-radius: 5px;
    text-decoration: none;
    color: #232323;
    padding: 10px 20px;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    margin-top: 20px;
    transition: 0.3s scale;
    
}
a:hover,
.submit:hover,
a:focus,
.submit:focus {
    background-color: $primary;
    color: $background;
    transform: scale(1.1);
}

h2{
    font-size: 1.6rem;
}