// main section styles
// form question stylings
.fieldsetFlex {
    border: 10px $primary solid;
    border-radius: 5px;
    margin: 200px auto;
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.choices {
    width: 50%;
    margin:0;
    display: inline-block;
}

.imgDiv {
    display: inline-block;
    width: fit-content;
}
img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-width: 200px;
    border-radius: 5px;
    position: relative;
    right: 0;
}
fieldset img {
    margin-left: 20px;
}
label {
    font-size: 1.3rem;
}
label:hover,
input:focus{
    color: $redLight;
}
// spacing between options
.optionsDiv {
    margin:11px 0;
}
// slight change to radio button input
.radButton {
    width: 15px;
    height: 15px;
}

// submit section and results 
.submitSection {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultError {
    color: red;
    font-size: 1.6rem;
    text-align: center;
}

.resultsImg {
    border: none;
    width: 100%;
    height: auto;
}

// user answer section
.userAnswer h2 {
    display: block;
    width: 60%;
    text-align: center;
    font-size: 4rem;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}
.userAnswer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
}
.userAnswer p {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
}
.userAnswer img {
    border: none;
    margin-bottom: 0px;
}

// submit section 
.submit {
    margin-bottom: 100px;
    padding: 10px;
    display: block;
    border: 3px solid #232323;
    border-radius: 5px;
    text-decoration: none;
    color: #232323;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: $background;
}