// media queries
@media (max-width:1000px) {
    .wrapper {
        width: 90%;
    }
}
@media (max-width:850px) {
    .fieldsetFlex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .choices {
        width: 100%;
    }

    .choices a {
        margin: 10px auto 0px auto;
        align-self: center;
    }
    img {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        border-radius: 5px;
        position: static;
        margin-left: 0;
    }
    a {
        margin: 25px auto;
    }
    .resultsImg {
        border: none;
        width: 100%;
        max-width: 400px;
    }
    .userAnswer h2 {
        font-size: 2.2rem;
    }
    .wrapper {
        width: 95%;
    }
}
@media (max-width:500px) {
    .spanDog {
        border-top: none;
        border-bottom: 15px $redLight solid;
    }
    h1 {
        font-size: 4rem;
        line-height: 5.1rem;
    }
    .resultsImg {
        border: none;
        width: 100%;
        max-width: 300px;
    }
}
@media (max-width:400px) {
    footer p {
        font-size: 0.9rem;
    }
    main h3 {
        font-size: 1.3rem;
    }
    label {
        font-size: 1rem;
    }
}

// Fix media queries to look proper you fucking camel do you want a job or not