// main color
// secondary color
// other colors
// background colors
// border colors (if different than others)
$background: #FAFAFA;
$primary: #232323;
$redLight: #B22222;
$blueLight: #4169E1;

// font families
// heading font
// question font
// answer options font
// regular text font (if any)
// results font


// mixins?
// styles for each form fieldset should be consistent
// styles for buttons
// styles for text/headers

// img styles (containers n such) for when I have images ready

// display mixins? undecided layout method, grid and/or layout

// //////////////////////////////////////////////////////////
// check if media queries for the given mixins are necessary
// //////////////////////////////////////////////////////////
