html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
  font-family: 'Sora', sans-serif;
  background-color: #FAFAFA;
}

a {
  border: 3px solid #232323;
  border-radius: 5px;
  text-decoration: none;
  color: #232323;
  padding: 10px 20px;
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 700;
  margin-top: 20px;
  -webkit-transition: 0.3s scale;
  transition: 0.3s scale;
}

a:hover,
.submit:hover,
a:focus,
.submit:focus {
  background-color: #232323;
  color: #FAFAFA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

h3 {
  font-size: 1.6rem;
}

header {
  height: 100vh;
  text-align: center;
  background-image: url(../assets/project3HeaderBackground.jpg);
  background-size: cover;
  width: 100%;
  padding-top: 100px;
  background-position: bottom;
}

h1 {
  font-size: 5rem;
}

.spanCat {
  border-bottom: 15px #4169E1 solid;
}

.spanDog {
  border-top: 15px #B22222 solid;
}

header h2 {
  font-size: 1.2rem;
}

.fieldsetFlex {
  border: 10px #232323 solid;
  border-radius: 5px;
  margin: 200px auto;
  width: 100%;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.choices {
  width: 50%;
  margin: 0;
  display: inline-block;
}

.imgDiv {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  max-height: 400px;
  min-height: 200px;
  border-radius: 5px;
  position: relative;
  right: 0;
}

fieldset img {
  margin-left: 20px;
}

label {
  font-size: 1.3rem;
}

label:hover,
input:focus {
  color: #B22222;
}

.optionsDiv {
  margin: 11px 0;
}

.radButton {
  width: 15px;
  height: 15px;
}

.submitSection {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultError {
  color: red;
  font-size: 1.6rem;
  text-align: center;
}

.resultsImg {
  border: none;
  width: 100%;
  height: 100%;
}

.userAnswer h2 {
  display: block;
  width: 60%;
  text-align: center;
  font-size: 4rem;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

.userAnswer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px auto;
}

.userAnswer p {
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
}

.userAnswer img {
  border: none;
  margin-bottom: 0px;
}

.submit {
  margin-bottom: 100px;
  padding: 10px;
  display: block;
  border: 3px solid #232323;
  border-radius: 5px;
  text-decoration: none;
  color: #232323;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #FAFAFA;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 1rem;
  margin-top: 33px;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .fieldsetFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .choices {
    width: 100%;
  }
  .choices a {
    margin: 10px auto 0px auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  img {
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    max-height: 600px;
    min-height: 200px;
    border-radius: 5px;
    position: static;
    margin-left: 0;
  }
  a {
    margin: 25px auto;
  }
  .resultsImg {
    border: none;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
  }
  .userAnswer h2 {
    font-size: 2.2rem;
  }
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .spanDog {
    border-top: none;
    border-bottom: 15px #B22222 solid;
  }
  h1 {
    font-size: 4rem;
    line-height: 5.1rem;
  }
  .resultsImg {
    border: none;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 400px) {
  footer p {
    font-size: 0.7rem;
  }
  main h3 {
    font-size: 1.3rem;
  }
  label {
    font-size: 1rem;
  }
}
